// @use './normalize.min.css';
@use 'scss-reset/reset';
@use './fonts.scss';

* {
  box-sizing: border-box;
}

body {
  // padding: 20px 20px 20px 20px;
  font-size: 20px;
  font-family: 'PT Sans', sans-serif;
  color: #42567a;
  background-color: #f4f5f9;
}
